html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%);
  font-family: "Roboto Slab", serif;
}

main {
  display: flex;
  margin-top: 50px;
}
.box1 {
  width: 40%;
  min-height: 540px;
  /* background-color: rgba(255, 255, 255, 0.486); */
  background-color: rgba(255, 255, 255, 0.274);
  margin-left: auto;
}

.globalscore1 h1 {
  font-size: 4rem;
  text-align: center;
}

.globalscore1 p {
  text-align: center;
  font-size: 3rem;
  margin-top: -20px;
}

.box2 {
  width: 40%;
  min-height: 540px;
  background-color: rgba(255, 255, 255, 0.274);
  margin-right: auto;
}

.globalscore2 h1 {
  font-size: 4rem;
  text-align: center;
}

.globalscore2 p {
  text-align: center;
  font-size: 3rem;
  margin-top: -20px;
}

.currentscore {
  margin-top: 180px;
  text-align: center;
  width: 40%;
  margin-left: 150px;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: rgb(201, 105, 134);
}

.currentscore p {
  font-size: 1.9rem;
  font-weight: 700;
}

img {
  position: absolute;
  bottom: 300px;
  width: 100px;
  left: 630px;
}

.pos-restart {
  position: absolute;
  bottom: 500px;
  left: 630px;
  padding: 10px 10px;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.596);
  font-family: "Roboto Slab", serif;
}

.pos-roll {
  position: absolute;
  bottom: 180px;
  left: 645px;
  padding: 10px 10px;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.596);
  font-family: "Roboto Slab", serif;
}

.pos-hold {
  position: absolute;
  bottom: 120px;
  left: 645px;
  padding: 10px 10px;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.596);
  font-family: "Roboto Slab", serif;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.486);
}

.hidden {
  display: none;
}
